<launch>

  <!-- Run localization node -->
  <node name="poller_node" pkg="poller" type="poller_node.py" output="screen">
    <rosparam param="basestations">
        ['192.168.1.17', '192.168.1.11', '192.168.1.19', '192.168.1.20']
    </rosparam>
    <rosparam param="debug">True</rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="basestation_publisher" args="0 0 0 0 0 0 /map /basestation 100"/>

</launch>
