<launch>

  <!-- Run localization node -->
  <node name="localization_node" pkg="position_publisher" type="localization_node.py" output="screen">
    <rosparam param="tag">2022</rosparam>
    <rosparam param="var_z">5</rosparam>
    <rosparam param="measurement_model">
        [-0.1416, 2.311, -14.76, 36.79]
    </rosparam>
    <!-- [-1.137e-07, 1.386e-05, -0.0006467, 0.01496, -0.1979, 2.497] model with 2.5 -->
    <!-- [-2.297e-07, 2.514e-05, -0.001111, 0.02593, -0.3751, 4.237] model with 4.5 -->
    <rosparam param="measurement_weight_model">
        [-1.137e-07, 1.386e-05, -0.0006467, 0.01496, -0.1979, 2.497]
    </rosparam>
    <rosparam param="debug">True</rosparam>
    <rosparam param="max_selection">4</rosparam>
    <rosparam param="basestations">
        [
            ['192.168.1.11', -1.39, 2.28],
            ['192.168.1.14', -1.4, 6.79],
            ['192.168.1.16', 2.55, 6.79],
            ['192.168.1.17', 2.25, 2.59],
            ['192.168.1.19', -1.74, -1.93]
        ]
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="tag_publisher" args="0 0 0 0 0 0 /map /target_2022 100"/>
  <node pkg="tf" type="static_transform_publisher" name="basestation_publisher" args="0 0 0 0 0 0 /map /basestation 100"/>

</launch>
