<launch>

  <!-- Run localization node -->
  <node name="localization_node" pkg="position_publisher" type="localization_node.py" output="screen">
    <rosparam param="tag">2022</rosparam>
    <rosparam param="basestations">
        [
            ['192.168.1.19', 2, 2],
            ['192.168.1.17', 3, 3]
        ]
    </rosparam>
  </node>

</launch>
