<launch>

  <!-- Run localization node -->
  <node name="debug_node" pkg="measurement_debugger" type="debug_node.py" output="screen">
    <rosparam param="alpha">0.5</rosparam>
    <rosparam param="debug_model">[-0.0001769, 0.01364, -0.4367, 6.111]</rosparam>
    <rosparam param="basestations">
        [
            ['192.168.1.11', -1.39, 2.28],
            ['192.168.1.14', -1.4, 6.79],
            ['192.168.1.16', 2.55, 6.79],
            ['192.168.1.17', 2.25, 2.59],
            ['192.168.1.18', 1.75, 5.16],
            ['192.168.1.19', -1.74, -1.93],
            ['192.168.1.20', 2.25, -1.13]
        ]
    </rosparam>
    <rosparam param="colors">
        [
            ['2022', 0, 1, 0]
        ]
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="debug_publisher" args="0 0 0 0 0 0 /map /measurements_debug 100"/>

</launch>
